@charset "utf-8";

/*body {
	background-color: #dddddd;
	color: black;
	font-family: Arial, sans-serif;
}
*/

aside#webSiteNavigator {
	width: 300px;
	background: #f2f3f7;
	position: fixed;
	margin: 0px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding: 10px;
	float: left;
}

div#profileImage {
	background-color: #EEEEEE;
	background: url("../_images/001.jpg");
    background-size: 200px 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 50%;
   	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    width: 200px;
	height: 200px;
}

aside#webSiteNavigator h1 {
	text-align: center;
}

aside#webSiteNavigator h2 {
	text-align: center;
	font-size: 12px;
}

div#sectionNavigator ul {
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 20px;
}

div#socialMediaLinks ul {
	display: block;
	text-align: center;
	padding: 0;
}

div#socialMediaLinks li {
	display: inline;
	font-size: 24px;
	color: #999;
	padding: 5px;
	
}

div#interface {
	display: block;
	background-color: #dddddd;
	width: 700px;
	float: right;
	border-right: 1px solid #606060;
	padding-right: 20px;
}




